users.txt
.idea/
*.iml
target/
.settings/
.classpath
.project
.tern-project
node_modules/
jspm_packeges/
.tmp/
**/css/main.css
!src/main/resources/META-INF/resources/dist
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/main.js.map
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/manifest.js.map
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/polyfills.js.map
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/styles.js.map
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/vendor.js.map
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/vendors.js.map
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/main.js
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/manifest.js
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/polyfills.js
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/vendors.js
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/vendor.js
/src/main/resources/META-INF/resources/modules/audit-violation-npa/js/styles.js
/src/main/resources/META-INF/resources/modules/audit-violation-npa/images
/front-end/package-lock.json
